<table>
  <tr>
    <td> Angular </td>
    <td> Pyhton </td>
    <td> GIT </td>
  </tr>
  <tr>
  <td> v14 </td>
  <td> v3 </td>
  <td> v43 </td>
</tr>
<tr>
<td> UI </td>
<td> BackEnd </td>
<td> Repository </td>
</tr>
</table>

<br>
<br>
<br>

<div class="table">
<div class="trow">
  <div class="tcell">Host 1</div>
  <div class="tcell">Host 2</div>
  <div class="tcell">Host 3</div>
</div>

<div class="trow">
<div class="tcell">IP</div>
<div class="tcell">MAC</div>
<div class="tcell">SUBNET</div>
</div>
<div class="trow">
<div class="tcell">ASIA</div>
<div class="tcell">EPAM</div>
<div class="tcell">LAUS</div>
</div>

</div>